.content {
  height: auto;
  background-color: black;
}

.tool-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
  padding-top: 10px;
}
.skills-title {
  margin-left: 120px;
  color: white;
  margin-top: 0;
  margin-bottom: 50px;

  font-family: "Archivo Black";
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
.proyectos-destacados {
  margin-top: 100px;
}
.tarjetas-proyectos {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 0 120px 0 120px;
  gap: 20px;
}

.tarjeta-cafeteria,
.tarjeta-mi-proyecto {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #1c1c1c;
}
.imagenes-tarjetas {
  position: relative;
}

.icon-tools__tarjetas {
  position: absolute;

  bottom: 20px;
  left: 20px;

  display: flex;
  gap: 10px;
}
.icon-tool__tarjetas {
  width: 40px;
  height: 40px;
}
.texto__tarjetas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}
.titulo__tarjetas {
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0%;
}
.descripcion__tarjetas__cafeteria {
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.descripcion__tarjetas__mi-proyecto {
  height: 162px;
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.enlaces-tarjetas {
  display: flex;
  gap: 20px;
  margin-top: auto;
}
